<!-- src/app/home/home.component.html -->
<div
  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
>
  <div class="md:flex">
    <div class="p-8">
      <div
        class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
      >
        User List
      </div>

      <div class="container mx-auto">
        <ul class="list-disc">
          <li *ngFor="let user of users" class="p-2">
            {{ user.name }} - {{ user.email }}
          </li>
        </ul>
      </div>

      <a
        href="#"
        class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
        >Go to Home Page</a
      >
    </div>
  </div>
</div>
